/* Example styling of a h1 element */
body {
  background-color: gray;
  margin: 0;
  padding: 0;
}

h1 {
  color: #2ab2ad;
  font-family: "Montserrat";
  font-size: 3.1rem;
  padding: 20px 20px 0 10px;
}

h2 {
  color: #73c4c0;
  font-family: "Montserrat";
  font-size: 2.3rem;
  padding: 0 20px 10px 0;
}

p {
  font-family: "Montserrat";
  font-size: 1rem;
  color: lightgray;
  padding: 0;
  line-height: 1.2rem;
}

ul {
  list-style-position: inside;
  font-family: "Montserrat";
  font-size: 1rem;
  color: lightgray;
  padding: 5px 10px 10px 0;
  line-height: 1.4rem;
}

img {
  float: left;
  margin-right: 25px;
  margin-bottom: 10px;
  border: 8px solid #FFFFFF;
}

a {
  padding: 10px;
}

.nic {
  padding-bottom: 20px;
  padding-left: 10px;
  color: darkgray;
  font-family: "Montserrat";
  font-size: 2.3rem;
  font-weight: lighter;
}

.myStyle {
  padding-top: 20px;
  padding-left: 25px;
}

.info {
  width: 500px;
  margin: 20px;
  background-color: darkgray;
  font-family: "Montserrat";
  font-size: 0.8rem;
  color: lightgray;
  padding: 0 5px 0 0;
  line-height: 1.2rem;
}

.hiLite {
  width: 500px;
  background-color: #3c3e42;
  font-family: "Montserrat";
  font-size: 0.8rem;
  color: white;
  padding: 5px;
  line-height: 1.2rem;
}

.footer {
  position: fixed;
  bottom: 0;
  font-family: "Montserrat";
  font-size: 0.8rem;
  color: gray;
  text-align: center;
  background-color: #646568;
  padding: 5px;
}
